DirectoryIndex index.html
Options -Indexes
<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
</IfModule>
<FilesMatch "\.(sqlite|sqlite-journal)$">
    Require all denied
</FilesMatch>
